<%= form_with(model: user_clustering_scenario, local: true) do |form| %>
  <% if user_clustering_scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_clustering_scenario.errors.count, "error") %> prohibited this user_clustering_scenario from being saved:</h2>

      <ul>
      <% user_clustering_scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :kappa, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.number_field :kappa, id: :user_clustering_scenario_kappa, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
     <%= form.label :parameters, "Parameters: " %>
     
     
     <%= form.select(
                    :parameters,
                    ClusteringModule::UserClustering.parameterTypes.keys.map{|k| [k.to_s.humanize, k]},
                    {selected: @user_clustering_scenario.user_clustering_parameters.pluck(:paramtype).uniq}, class: "form-control", multiple: true, size: 5, 
     ) %>
    
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
