<%= form_with(model: user_clustering_scenario, local: true) do |form| %>
  <% if user_clustering_scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_clustering_scenario.errors.count, "error") %> prohibited this user_clustering_scenario from being saved:</h2>

      <ul>
      <% user_clustering_scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :name, id: :user_clustering_scenario_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :kappa, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.number_field :kappa, id: :user_clustering_scenario_kappa, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :parameters, "Parameters: " %>

    <div class="input-group">
    
        <%= form.select(
                  :parameters,
                  grouped_options_for_select(
                     ClusteringModule::UserClustering.parameterTypes.each_with_object({}) { |(k,v),r| r[v[:group]] ||= {};r[v[:group]][v[:header]] ||= []; r[v[:group]][v[:header]].push [k.to_s.humanize, k] }[:game],
                     {selected: @user_clustering_scenario.user_clustering_parameters.pluck(:paramtype).uniq},
                  ),
                  {},  class: "form-control", multiple: true, size: 22
        ) %>
        <span>  </span>
        <%= form.select(
                  :parameters,
                  grouped_options_for_select(
                     ClusteringModule::UserClustering.parameterTypes.each_with_object({}) { |(k,v),r| r[v[:group]] ||= {};r[v[:group]][v[:header]] ||= []; r[v[:group]][v[:header]].push [k.to_s.humanize, k] }[:lcms],
                     {selected: @user_clustering_scenario.user_clustering_parameters.pluck(:paramtype).uniq},
                  ),
                  {},class: "form-control", multiple: true, size: 22,
        ) %>
    </div>

  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
