<%= content_for :title, 'Editing Consumer' %>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        consumer properties
      </div>
      <div class="card-body">
        <%= render 'form', consumer: @consumer %>

        <%= link_to 'Show', @consumer, class: 'btn btn-info btn-sm' %> |
        <%= link_to "All #{category_name(@consumer.consumer_category)}", consumers_path(category: @consumer.consumer_category), class: 'btn btn-info btn-sm' %> |
        <%= link_to 'All Consumers', consumers_path, class: 'btn btn-info btn-sm' %>
      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>
