<%= content_for :title, @consumer.name || @consumer.id -%>

<div class="row" >
  <div class="col-md-6 mb-3 d-flex">
    <div class="card card-100">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        Consumer properties
      </div>
      <div class="card-body">
        <div>
          <strong>Name:</strong>
          <%= @consumer.name-%>
        </div>
        <div>
          <strong>Location:</strong>
          <%= @consumer.location-%>
        </div>
        <div>
          <strong>Edms:</strong>
          <%= @consumer.edms_id-%>
        </div>
        <div>
          <strong>Energy program:</strong>
          <%= link_to @consumer.energy_program&.name, energy_program_path(@consumer.energy_program) if @consumer.energy_program -%>
        </div>
        <div>
          <strong>Building type:</strong>
          <%= link_to @consumer.building_type&.name, building_type_path(@consumer.building_type) if @consumer.building_type -%>
        </div>
        <div>
          <strong>Connection type:</strong>
          <%= link_to @consumer.connection_type&.name, connection_type_path(@consumer.connection_type) if @consumer.connection_type -%>
        </div>
        <div>
          <strong>Location x:</strong>
          <%= @consumer.location_x-%>
        </div>
        <div>
          <strong>Location y:</strong>
          <%= @consumer.location_y-%>
        </div>
        <div>
          <strong>Feeder:</strong>
          <%= @consumer.feeder_id-%>
        </div>
        <div>
          <strong>Consumer category:</strong>
          <%= link_to @consumer.consumer_category&.name, consumer_category_path(@consumer.consumer_category) if @consumer.consumer_category -%>
        </div>
        <div>
          <strong>Smart plugs:</strong>
          <%= @consumer.smart_plugs.map{|sp| link_to sp.name, sp}.join(" | ").html_safe -%>        </div>
        <div>
          <strong>Member in:</strong>
          <ul class="max-height-100px">
            <% @consumer&.communities&.map do |c|
              cl = c&.clustering %>
            <li><%= link_to c&.name, community_path(c) -%> (<%= link_to cl&.name, clustering_path(cl) -%>)</li>
            <% end %>
          </ul>
        </div>

        <div class="max-height-200px">
          <strong>Users:</strong>
          <%= @consumer.users.map{|u| link_to u.name, user_path(u)}.join(" | ").html_safe -%>
        </div>
        <div>
          <strong>SLA:</strong>
          <% if @consumer.ecc_type.nil? %>
            <%= link_to 'New SLA', new_ecc_type_path(consumer: @consumer), class: 'btn btn-primary btn-sm' if can? :create, EccType %>
          <% else %>
            <%= link_to "View SLA", @consumer.ecc_type%>
            <%= link_to "DELETE SLA", @consumer.ecc_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if can? :destroy, @consumer.ecc_type %>
          <% end %>
        </div>
        <div>&nbsp;</div>
        <%= link_to 'Edit', edit_consumer_path(@consumer), class: 'btn btn-warning btn-sm' if can? :edit, @consumer %> |
        <%= link_to "All #{category_name(@consumer.consumer_category)}", consumers_path(category: @consumer.consumer_category), class: 'btn btn-info btn-sm' %> |
        <%= link_to 'All Consumers', consumers_path, class: 'btn btn-info btn-sm' %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
  <%= render partial: "charts/gmap" %>

  <%= render partial: "charts/consumption_chart", locals: {entity: @consumer} %>

  <% @consumer.smart_plugs.each do |smart_plug| %>
    <div class="col-xxl-6 col-sm-12 mb-3  d-flex ">
      <div class="card card-100">
       <div class="card-header">
              <i class="fa fa-area-chart"></i>
              <%= smart_plug.name %>
            </div>
            <div class="card-body">
              <canvas id="smart_plug_<%= smart_plug.id -%>" width="100%" height="65"></canvas>
              <div class="cell legend" tabindex="0"></div>
              <script>
                subscribe_smart_plug("<%= smart_plug.mqtt_name %>","smart_plug_<%= smart_plug.id -%>")
              </script>
            </div>
            <div class="card-footer small text-muted">
               <button class="smart_plug_button" smart_plug="smart_plug_<%= smart_plug.id -%>" action="ON">Turn on</button>
               <button class="smart_plug_button" smart_plug="smart_plug_<%= smart_plug.id -%>" action="OFF">Turn off</button>
               state: <span class=smart_plug_status smart_plug="smart_plug_<%= smart_plug.id -%>">unknown</span>
            </div>
      </div>
    </div>
  <% end %>

</div>


