<%= form_with(model: dr_event, local: true) do |form| %>
  <% if dr_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dr_event.errors.count, "error") %> prohibited this dr_event from being saved:</h2>

      <ul>
      <% dr_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :name, id: :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :starttime, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.datetime_select :starttime, id: :starttime, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :interval_id, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
       <%= form.collection_select :interval_id, Interval.all, :id, :name, { prompt: true }, class: "form-control custom-select", id: 'dr_event_interval_id'  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :price, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :price, id: :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :state, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.number_field :state, id: :state, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :type, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.number_field :type, id: :type, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
