<%= content_for :title, @dr_event.name || @dr_event.id -%>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        dr_event properties
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @dr_event.name-%>
        </p>
        <p>
          <strong>Starttime:</strong>
          <%= @dr_event.starttime-%>
        </p>
        <p>
          <strong>Interval:</strong>
          <%= link_to @dr_event.interval&.name, interval_path(@dr_event.interval) if @dr_event.interval -%>
        </p>
        <p>
          <strong>Price:</strong>
          <%= @dr_event.price-%>
        </p>
        <p>
          <strong>State:</strong>
          <%= @dr_event.state-%>
        </p>
        <p>
          <strong>DR Type:</strong>
          <%= @dr_event.dr_type-%>
        </p>

        <h2>DR targets</h2>
        <table class="table">
          <thead>
            <tr><th>Timestamp period</th><th>Demand Reduction (MW)</th></tr>
          </thead>
          <tbody>
          <% @dr_event.dr_targets.each do |dr_target| %>
          <tr><td><%= dr_target.timestamp_start %> - <%= dr_target.timestamp_stop %></td><td><%= dr_target.volume %></td></tr>
          <% end %>
          <tbody>
        </table>

        <h2>SLA availability</h2>
        <table class="table">
          <thead>
            <tr><th>Consumer</th><th>Price per unit (€/MW)</th><th>SLA Demand Reduction (MW)</th><th>Current Allocation (MW)</th><th>DR availability (MW)</th></tr>
          </thead>
          <tbody>
            <% @dr_event.dr_targets.each do |dr_target| %>
              <tr><td colspan=4>
              <%= dr_target.timestamp_start %> - <%= dr_target.timestamp_stop %>
              </td></tr>
              <% EccTerm.joins(:ecc_type).includes(ecc_type: :consumer).where('consumer_id IS NOT NULL').each do |sla| %>
                <% vals = sla.get_sla_for_ts(dr_target.timestamp_start) %>
                <% if (vals) %>
                  <tr>
                    <td><%= sla.ecc_type.consumer.name %></td>
                    <td><%= vals[:price_per_mw] %></td>
                    <td><%= vals[:value] %></td>
                    <td><%= DrAction.for_timestamp_range(dr_target.timestamp_start,
                                                         dr_target.timestamp_stop)
                                    .where(consumer_id: sla.ecc_type.consumer_id)
                                    .sum :volume_planned %></td>
                    <td><%= sla.value - DrAction.for_timestamp_range(dr_target.timestamp_start,
                                                         dr_target.timestamp_stop)
                                    .where(consumer_id: sla.ecc_type.consumer_id)
                                    .sum(:volume_planned) %></td></tr>
                <% else %>
                  <tr><td colspan=4>
                    No consumers for timestamp
                  </td></tr>
                <% end %>
              <% end %>
            <% end %>
          <tbody>
        </table>




        <%= link_to 'Edit', edit_dr_event_path(@dr_event), class: 'btn btn-warning btn-sm' if can? :edit, @dr_event %> |
        <%= link_to 'All Dr Events', dr_events_path, class: 'btn btn-info btn-sm' %> |
        <%= link_to 'Schedule DR event', schedule_dr_event_path(@dr_event), class: 'btn btn-primary btn-sm', method: :post %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>

