<%= content_for :title, "Recommendation: #{@recommendation.id}" -%>

<div class="row">
  <div class="col-lg-6 d-flex">
    <div class="card mb-3 card-100">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        recommendation properties
      </div>
      <div class="card-body">
        <p>
          <strong>Status:</strong>
          <%= @recommendation.status-%>
        </p>
        <p>
          <strong>Recommendation type:</strong>
          <%= link_to @recommendation.recommendation_type&.name, recommendation_type_path(@recommendation.recommendation_type) if @recommendation.recommendation_type -%>
        </p>
        <p>
          <strong>Scenario:</strong>
          <%= link_to @recommendation.recommendable&.name, @recommendation.recommendable if @recommendation.recommendable -%>
        </p>
        <p>
          <strong>Parameter:</strong>
          <%= @recommendation.parameter-%>
        </p>

        <p class="max-height-200px">
          <strong>Consumers:</strong>
          <%= @recommendation.consumers.map{|c| link_to c.name, consumer_path(c)}.join(" | ").html_safe -%>
        </p>

        <p>
          <strong>Message previews:</strong>
          <ul>
            <% @recommendation.draft_messages.each do |m| -%>
              <% p m -%>
              <li><%= "#{m[:recipient].name}: #{m[:message]}" -%> </li>
            <% end %>
          </ul>
        </p>

        <% if can? :edit, @recommendation %>
          <% if @recommendation.messages.count == 0 %>
            <%= link_to 'Edit', edit_recommendation_path(@recommendation), class: 'btn btn-warning btn-sm' %> |
            <%= link_to 'Send', send_messages_recommendation_path(@recommendation), class: 'btn btn-danger btn-sm', method: :post %>
          <% else %>
            <%= link_to 'Delete Messages', delete_messages_recommendation_path(@recommendation), class: 'btn btn-danger btn-sm', method: :post if can? :edit, @recommendation and @recommendation.messages.count > 0 %>
          <% end %> |
        <% end %>


        <%= link_to 'All Recommendations', recommendations_path, class: 'btn btn-info btn-sm' %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>

  <div class="col-lg-6 d-flex">
    <div class="card mb-3 card-100">
      <div class="card-header">
        <i class="fa fa-bell"></i>
        Messages
      </div>
      <div class="card-body">
        <table class="table table-responsive table-striped table-bordered table-hover">
          <thead>
          <tr>
            <!--<th><%= sortable "sender_id", "Sender" -%></th>-->
            <th><%= sortable "recipient_id", "Recipient" -%></th>
            <th><%= sortable "content", "Content" -%></th>
            <th><%= sortable "status", "Status" -%></th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <tbody>
          <% @recommendation.messages.each do |message| %>
            <tr>
              <!--<td>
                <%= link_to message.sender&.name, user_path(message.sender) if message.sender -%>
            </td>-->
              <td>
                <%= link_to message.recipient&.name, user_path(message.recipient) if message.recipient -%>
              </td>
              <td>
                <%= message.content-%>
              </td>
              <td>
                <%= message.status-%>
              </td>
              <td><%= link_to 'Show', message, class: 'btn btn-info btn-sm' if can? :show, message%></td>
              <td><%= link_to 'Edit', edit_message_path(message), class: 'btn btn-warning btn-sm' if can? :update, message %></td>
              <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if can? :destroy, message %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>

