<%= content_for :title, 'Interval' %>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        interval properties
      </div>
      <div class="card-body">
                    <p>
              <strong>Name:</strong>
              
                  <%= @interval.name-%>
              

            </p>

                    <p>
              <strong>Duration:</strong>
              
                  <%= @interval.duration-%>
              

            </p>

        
        <%= link_to 'Edit', edit_interval_path(@interval), class: 'btn btn-warning btn-sm' if can? :edit, @interval %> |
        <%= link_to 'All Intervals', intervals_path, class: 'btn btn-info btn-sm' %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>

