<%= content_for :title, 'Editing User' %>

<div class="row">
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        user properties
      </div>
      <div class="card-body">
                    <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>

                    <p>
              <strong>Name:</strong>
              <%= @user.name %>
            </p>

        
        <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning btn-sm' if can? :edit, @user %> |
        <%= link_to 'All Users', users_path, class: 'btn btn-info btn-sm' %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>

