<div class="col-md-6 d-flex mb-3">
  <div class="card card-narrow">
    <div class="card-header">
      <i class="fa fa-area-chart"></i>
      Set parameters for chart
    </div>
    <div class="card-body">
      <% chart_vars = chart_cookies(entity) %>
      <%= form_tag('', method: 'get', class: "form-inline", remote: false, id: 'dates-form') do %>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 input-sm ">
          <%= label_tag :type, "Chart Type: " %>
          <%= select_tag :type, options_for_select([ "Real-time", "Historical" ], chart_vars[:type]), id: 'type-selector', class: 'input-group input-sm mb-2 mr-sm-2 mb-sm-0 custom-select' %>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 input-sm historical">
          <%= label_tag :start_date, "Start datetime: " %>
          <%= text_field_tag :start_date, format_datetime(chart_vars[:start_date]), id: :start_date, class: 'form-control input-sm datetimepicker' %>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 input-sm historical">
          <%= label_tag :end_date, "End datetime: " %>
          <%= text_field_tag :end_date, format_datetime(chart_vars[:end_date]), id: :end_date, class: 'form-control input-sm datetimepicker' %>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 input-sm real-time">
          <%= label_tag :duration, "Duration (sec): " %>
          <%= number_field_tag :duration, chart_vars[:duration], id: :duration, class: 'form-control input-sm' %>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 input-sm ">
          <%= label_tag :interval_id, "Interval: " %>
          <%= collection_select(nil, :interval_id,
                                Interval.order("duration asc"),
                                :id,
                                :name,
                                {include_blank: false, :selected => chart_vars[:interval_id]},
                                class: 'input-group input-sm mb-2 mr-sm-2 mb-sm-0 custom-select') %>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 input-sm ">
          <input type="submit" id="setDates" value="Set" class="input-sm btn btn-primary btn-sm"> |
          <input type="button" id="resetDates" value="Reset filter" class="input-sm btn btn-info btn-sm">
        </div>
      <% end %>
      Preset time range, intervals:
      <ul>
        <% quicklinks(entity).each do |link| %>
          <li><%= link_to link[:name], link[:link], class: 'no-reload'%></li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer small text-muted">
    </div>
  </div>
</div>

<script>
  App.chart_view.initParams = JSON.parse('<%= format_datetime(initParams(entity)).to_json.html_safe -%>');
  App.chart_view.chart_vars = JSON.parse('<%= format_datetime(chart_vars).to_json.html_safe -%>');
  App.chart_view.ajax_params = []

</script>

    <% (entity.class.name == "Clustering" ?
           entity.communities :
           entity.class.name == "Community" ?
               [ entity ]:
               [ nil ]).each do |community| 
                     com_or_con_id = community&.id ? "com_" + community.id.to_s : "con_" + @consumer.id.to_s
                     dom_id = "consumptionChart_#{com_or_con_id}_#{chart_vars[:interval_id]}"
               %>
      <% if entity.class.name == "Clustering" %>
        <div class="col-md-6 col-sm-12 mb-3  " >
          <div class="card">
      <% else %>
        <div class="col-lg-6 col-sm-12 mb-3">
          <div class="card">
      <% end %>
      <!--div class="card flex-fill card-wide"-->
            <div class="card-header">
              <i class="fa fa-area-chart"></i>
              <%= community ? link_to(community.name,community_path(community)) : "Consumption data" %>
            </div>
            <div class="card-body">
              <canvas id="<%= dom_id -%>" width="100%" height="65"></canvas>
              <div class="cell legend" tabindex="0"></div>
            </div>
            <div class="card-footer small text-muted">
            </div>
          </div>
      <!--/div-->
        </div>
      <script>
        App.chart_view.ajax_params.push({
          dom_id: '<%= dom_id -%>',
          entity: <%= (community ? {community: community.id} : {consumer: entity.id }).to_json.html_safe -%>
        });
      </script>
    <% end %>

    <script>
      App.chart_view.init_graphs(App.chart_view.chart_vars);
    </script>
