<div class="col-xxxl-4 col-xl-6 col-sm-12 mb-3 d-flex">
  <div class="card d-flex card-narrow card-100">
    <div class="card-header">
      <i class="fa fa-area-chart"></i>
      <%= chart[:title] -%>, <%= link_to "More data", chart[:path_method].call(chart[:community], chart[:params]) -%>
    </div>
    <div class="card-body">
      <canvas id="<%= chart[:dom_id] -%>" width="100%" height="65"></canvas>
      <div class="cell legend" ></div>
    </div>
    <div class="card-footer small text-muted">
    </div>
    <script>
      getdata(
        '<%= chart[:dom_id] -%>',
        <%= {community: chart[:community].id}.to_json.html_safe -%>,
        <%= chart[:params].merge(nocookies: true).to_json.html_safe -%>
      );
    </script>
  </div>
</div>
