<%= content_for :title, @ecc_type.name || @ecc_type.id -%>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        ecc_type properties
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @ecc_type.name -%>
        </p>
        <p>
          <% if @ecc_type.ecc_terms.count > 0 %>
            Active periods:
            <ul>
            <% @ecc_type.ecc_terms.each_with_index do |ecc_term, index| %>
              <li><%= "OR" if index > 0 %> <%= ecc_term.id %>:</li>
                <ul>
                  <% ecc_term.ecc_factors.each_with_index do |ecc_factor, index| %>
                    <li><%= "AND" if index > 0 %> <%= ecc_factor.period.humanize %>, <%= ecc_factor.period.humanize.split[-1].pluralize   %>: <%= ecc_factor.start %> up to <%= ecc_factor.start %></li>

                  <% end %>
                </ul>
            <% end %>
            </ul>
          <% else %>
            Active periods not set.
          <% end %>
        </p>
        <%= link_to 'Edit', edit_ecc_type_path(@ecc_type), class: 'btn btn-warning btn-sm' if can? :edit, @ecc_type %> |
        <%= link_to 'All Ecc Types', ecc_types_path, class: 'btn btn-info btn-sm' %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>

