<%%= content_for :title, 'Editing <%= singular_table_name.titleize %>' %>

<div class="row">
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        <%= singular_table_name %> properties
      </div>
      <div class="card-body">
        <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <p>
              <strong><%= attribute.human_name %>:</strong>
              <%%= @<%= singular_table_name %>.<%= attribute.name %><%= '&.name' if attribute.reference? -%> %>
            </p>

        <% end -%>

        <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-warning btn-sm' if can? :edit, @<%= singular_table_name %> %> |
        <%%= link_to 'All <%= plural_table_name.titleize %>', <%= index_helper %>_path, class: 'btn btn-info btn-sm' %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>

