<%= content_for :title, 'Scenarios' %>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        All Scenarios
      </div>
      <div class="card-body">

        <%#   Filterrific adds the `form_for_filterrific` view helper:
            * adds dom id 'filterrific_filter'
            * applies javascript behaviors:
            * AJAX form submission on change
            * AJAX spinner while AJAX request is being processed
            * sets form_for options like :url, :method and input name prefix
        %>
        <%= form_for_filterrific @filterrific, html: {class: "form-inline"} do |f| %>
          <div class="p-1">
            <%= f.label :search_query, class: "form-label no-flex"  %>
            <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed form-control',
                    size: 40,
                    placeholder: "Search in name and description "
                    ) %>
          </div>
          <div class="p-1">
            <%= f.label :with_user_id, 'User', class: "form-label no-flex"  %>
            <%= f.select(
                    :with_user_id,
                    User.order(name: :asc).pluck(:name, :id),
                    { include_blank: '- Any -' }, class: "form-control"
                ) %>
          </div>
          <div class="p-1">
            <%= f.label :with_starttime, 'Start time', class: "form-label no-flex"  %>
            <%= f.fields_for :with_starttime do |fields| %>
              <%= fields.text_field :after, size: 20, class: "form-control datetimepicker", placeholder: 'after' %>
              <%= fields.text_field :before, size: 20, class: "form-control datetimepicker", placeholder: 'before'  %>
            <% end %>
          </div>
          <div class="p-1">
            <%= f.label :with_endtime, 'End time', class: "form-label no-flex"  %>
            <%= f.fields_for :with_endtime do |fields| %>
              <%= fields.text_field :after, size: 20, class: "form-control datetimepicker", placeholder: 'after' %>
              <%= fields.text_field :before, size: 20, class: "form-control datetimepicker", placeholder: 'before' %>
            <% end %>
          </div>
          <div class="p-1">
            <%= f.label :with_interval_id, 'Interval', class: "form-label no-flex"  %>
            <%= f.select(
                    :with_interval_id,
                    Interval.order(duration: :asc).pluck(:name, :id),
                    { include_blank: '- Any -' }, class: "form-control"
                ) %>
          </div>
          <div class="p-1">
            <%= f.label :with_ecc_type_id, 'Ecc type', class: "form-label no-flex" %>
            <%= f.select(
                    :with_ecc_type_id,
                    EccType.order(name: :asc).pluck(:name, :id),
                    { include_blank: '- Any -' }, class: "form-control"
                ) %>
          </div>
          <div class="p-1">
            <%= f.label :with_energy_cost_parameter, 'Energy cost parameter', class: "form-label no-flex" %>
            <%= f.fields_for :with_energy_cost_parameter do |fields| %>
              <%= fields.number_field :above, min: 0, step: 0.01, class: "form-control col-sm-2", placeholder: 'above' %>
              <%= fields.number_field :below, min: 0, step: 0.01, class: "form-control col-sm-2", placeholder: 'below' %>
            <% end %>
          </div>
          <div class="p-1">
            <%= f.label :with_profit_margin_parameter, 'Profit margin parameter', class: "form-label no-flex" %>
            <%= f.fields_for :with_profit_margin_parameter do |fields| %>
              <%= fields.number_field :above, min: 0, step: 0.01, class: "form-control col-sm-2", placeholder: 'above' %>
              <%= fields.number_field :below, min: 0, step: 0.01, class: "form-control col-sm-2", placeholder: 'below' %>
            <% end %>
          </div>
          <div class="p-1">
            <%= f.label :with_flexibility_id, 'Flexibility', class: "form-label no-flex" %>
            <%= f.select(
                    :with_flexibility_id,
                    Flexibility.order(name: :asc).pluck(:name, :id),
                    { include_blank: '- Any -' }, class: "form-control"
                ) %>
          </div>
          <div class="p-1">
            <%= f.label :with_number_of_clusters, 'Number of clusters', class: "form-label no-flex" %>
            <%= f.fields_for :with_number_of_clusters do |fields| %>
              <%= fields.number_field :above, min: 0, step: 1, class: "form-control col-sm-2", placeholder: 'above' %>
              <%= fields.number_field :below, min: 0, step: 1, class: "form-control col-sm-2", placeholder: 'below' %>
            <% end %>
          </div>
          <div class="p-1">
            <%= f.label :with_gamma_parameter, 'Gamma parameter', class: "form-label no-flex" %>
            <%= f.fields_for :with_gamma_parameter do |fields| %>
              <%= fields.number_field :above, min: 0, step: 0.01, class: "form-control col-sm-2", placeholder: 'above' %>
              <%= fields.number_field :below, min: 0, step: 0.01, class: "form-control col-sm-2", placeholder: 'below' %>
            <% end %>
          </div>
          <div class="p-1">
            <%= f.label :with_created_at, 'Created at', class: "form-label no-flex"  %>
            <%= f.fields_for :with_created_at do |fields| %>
              <%= fields.text_field :after, size: 20, class: "form-control datetimepicker", placeholder: 'after' %>
              <%= fields.text_field :before, size: 20, class: "form-control datetimepicker", placeholder: 'before' %>
            <% end %>
          </div>
          <div class="p-1">
            <%= f.label :with_updated_at, 'Updated at', class: "form-label no-flex"  %>
            <%= f.fields_for :with_updated_at do |fields| %>
              <%= fields.text_field :after, size: 20, class: "form-control datetimepicker", placeholder: 'after' %>
              <%= fields.text_field :before, size: 20, class: "form-control datetimepicker", placeholder: 'before' %>
            <% end %>
          </div>

          <div>
            <%= link_to(
                    'Reset filters',
                    reset_filterrific_url, class: 'btn btn-info btn-sm'
                    ) %>
          </div>
          <%# add an automated spinner to your form when the list is refreshed %>
          <%= render_filterrific_spinner %>
        <% end %>

        <%= render(
                partial: 'scenarios/list',
                locals: { scenarios: @scenarios }
            ) %>

        <br>
        <%= link_to 'New Scenario', new_scenario_path, class: 'btn btn-primary btn-sm' if can? :create, Scenario %>
      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>


