<%= content_for :title, "Clustering #{@clustering.name}" %>

<div class="row" >
  <div class="col-sm-12 mb-3">
    <div class="card card-narrow">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
          Clustering properties
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @clustering.name-%>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @clustering.description-%>
        </p>
        <p>
          <strong>Clustering scenario:</strong>
          <%= link_to @clustering.cl_scenario&.name, cl_scenario_path(@clustering.cl_scenario) if @clustering.cl_scenario -%>
        </p>

        <strong>Communities:</strong>
        <div class="row">
          <% @clustering.communities.order('name': :asc).each do |community| %>
            <span class="card-narrow pad20">
              <strong><%= link_to community&.name, community_path(community) -%></strong>
              <p class="max-height-50px ">
                <%= community.consumers.map{|c| link_to c.name, consumer_path(c)}.join(" | ").html_safe -%>
              </p>
            </span>
          <% end %>
        </div>

        <%= link_to 'Edit', edit_clustering_path(@clustering), class: 'btn btn-warning btn-sm' if can? :edit, @clustering %> |
        <%= link_to 'All Clusterings', clusterings_path, class: 'btn btn-info btn-sm' %>

      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>

  <%= render partial: "charts/gmap" %>

  <%= render partial: "charts/consumption_chart", locals: {entity: @clustering} %>
</div>

