<%= form_with(model: flexibility, local: true) do |form| %>
  <% if flexibility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flexibility.errors.count, "error") %> prohibited this flexibility from being saved:</h2>

      <ul>
      <% flexibility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :name, id: :flexibility_name, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
