<%= form_with(model: dr_action, local: true) do |form| %>
  <% if dr_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dr_action.errors.count, "error") %> prohibited this dr_action from being saved:</h2>

      <ul>
      <% dr_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :dr_target_id, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
       <%= form.select :dr_target_id, options_for_select(DrTarget.all.map{|drt| [ "#{drt.dr_event.name} - #{drt.timestamp_start} - #{drt.timestamp_stop}",  drt.id ]}), { prompt: true }, class: "form-control custom-select", id: 'dr_action_dr_target_id'  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :consumer_id, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
       <%= form.collection_select :consumer_id, Consumer.all, :id, :name, { prompt: true }, class: "form-control custom-select", id: 'dr_action_consumer_id'  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :volume_planned, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :volume_planned, id: :volume_planned, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :volume_actual, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :volume_actual, id: :volume_actual, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :price_per_mw, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_field :price_per_mw, id: :price_per_mw, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
