<%= content_for :title, 'Community' %>

<div class="card-group">
  <div class="card card-narrow">
    <div class="card-header">
      <i class="fa fa-area-chart"></i>
      community properties
    </div>
    <div class="card-body">
      <p>
        <strong>Name:</strong>
        <%= @community.name -%>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @community.description -%>
      </p>
      <p>
        <strong>Clustering:</strong>
        <%= link_to @community.clustering&.name, clustering_path(@community.clustering) if @community.clustering -%>
      </p>
      <%= link_to 'Edit', edit_community_path(@community), class: 'btn btn-warning btn-sm' if can? :edit, @community %>
      |
      <%= link_to 'All Communities', communities_path, class: 'btn btn-info btn-sm' %>
    </div>
    <div class="card-footer small text-muted">
    </div>
  </div>
  <%= render partial: "charts/consumption_chart", locals: {consumers: @community.consumers} %>
</div>


